



body {
    background-image: url(https://content.gallup.com/origin/gallupinc/GallupSpaces/Production/Cms/POLL/ivnhtzaaskgfokng9nkyuw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url(https://media.wired.com/photos/5c9040ee4950d24718d6da99/16:9/w_2400,h_1350,c_limit/shoppingcart-1066110386.jpg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    font-style: italic;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}
h2 {
    position: absolute;
    top: 10%;
    font-size: xx-large;
    font-style: italic;
    
    animation: glowing 1s infinite;
}
@keyframes glowing {
    0% { text-shadow: 0 0 10px #ff0000; }
    50% { text-shadow: 0 0 20px #ffd900; }
    100% { text-shadow: 0 0 10px #ff00ff; }
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background: #f0cd06;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

li.purchased {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

li span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

button.clear {
    background: #FF6347;
    border-radius: 5px;
    margin-top: 10px;
}

button.clear:hover {
    background: #d9534f;
}
